nav{
    display: flex;
    justify-content: space-between;
    padding-top:  10px;
    background-color: #055089a2;
}
.presentation{
    margin-left: 30px;
    padding-top: 30px;
    color: white;
}
h1{
    font-size: 600px;
    font-size: unset;
}
.tout{
    font-size: 30px;
}
.nav{
    display: flex;
    justify-content: end;
}
.first{
    display:flex;
}
#menu{
    margin-top: 0px ;
    margin-right: 10px;
}
#fran{
    margin-top: 0px;
}
.info{
    margin-right: 10px;
}
header{
    background-image: url(Space.jpeg) ;
    height: 100vh;

}

body{
    background-color:#055089 ;
    color: white;
    margin: 0px;
}
