nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #03243da2;
}

.nav {
    display: flex;
    justify-content: end;
}

.first {
    display: flex;
}

button {
    background-color: rgb(66, 66, 145);
    color: rgb(248, 249, 251);
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
    border-width: 0.2px;
    border-color: #055089;
    font-family: 'Palanquin';
}

button:hover {
    background-color: rgb(119, 193, 168);
}

.info {
    margin-right: 10px;
}

body {
    background-color: #033860;
    color: rgb(223, 230, 255);
    margin: 0px;
}

#fran {
    margin-top: 0px;
}

#menu {
    margin-top: 0px;
    margin-right: 10px;
}
header {
    background-image: url(Spacino.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 50vh;
}

.pres {
    max-width: 50%;
}

.if {
    text-align: center
}

p {
    font-family: 'Palanquin';
}

h1, h2, h3 {
    font-family: 'Kanit';

}
div {
    width: 50px;
    border-bottom: 5px solid #b1d0e7;
}

.bilet {
    background-color: rgb(197, 38, 136);
}

.icon {
    padding: 14px;
    background-color: #b1d0e7;
    color: #055089;
    border-radius: 13px;
}

.réseaux {
    text-align: center;
    color: #2d516c;
    padding-bottom: 15px;
}

footer {
    background-color: antiquewhite;
    color: rgb(10, 52, 83);
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
}
.logos {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6px;
}
#city{
    width: 360px;
    height: 155px;
    padding-bottom: 15px;
}
.city{
display: flex;
align-items: center;
flex-direction: column;
}
h2, h1, h3{
    color: #d1ebff;
}